ion-slide {
  border-radius: 15px;
  background-color: grey;
  width: 50% !important;
  margin-top: 20px;
  margin-right: 5px;
  height: 100px;
}
h1 {
  font-size: 16px;
  margin-bottom: 0px;
  ion-badge {
    background-color: orange;
    border-radius: 10px;
    font-size: 8px;
  }
}
.expand-col {
  padding: 0px !important;
  border-bottom: none !important
}
.expanded-grid {
  padding: 0px !important;
  border-top: 1px solid rgb(255, 124, 14) !important;
  ion-row {
    border-bottom: none;
    padding: 5px;
    [col-12], [col-6] {
      padding: 0px;
      white-space: normal;
    }
  }
}
ion-toolbar.final {
  border-bottom-left-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
}
.div {
  background-image: url("../../assets/foto.jpg");
  background-size: 80px;
  width: 80px;
  height: 80px;
  display:inline-block;
  border-radius: 50%;
  margin-left: 30px;
}
.h1Button {
  height: 25px;
  width: 25px;
  border: 1px solid orange;
  border-radius: 50%;
  background-color: transparent;
  color: orange;
  margin-left: 5px;
}
