<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-fab style="left: 87%; margin-top: 15px;">
      <ion-badge color="success" style="right: -3px; z-index: 3; position: absolute; border-radius: 50%; height: 10px; width: 5px;">&nbsp;</ion-badge>
      <ion-fab-button id="cart-btn" style="height: 30px; width: 30px;">
        <ion-icon name="notifications" class="icon-button inner-center-btn" style="color: orange; height: 20px"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-title style="text-align: center; margin-right: 50px;">
      <img src="../../assets/logo-smart-fit-1024.png" width="60px" style="display:inline-block" height="60px"/>
    </ion-title>
  </ion-toolbar>

  <ion-toolbar class="final">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <div class="div"></div>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col>
              <h2 style="margin-top: 0px; margin-bottom: 0px; font-size: 16px; font-weight: bold;">Leonidas Trezentos</h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h1 style="margin-top: 0px; color: #5d58e0; font-size: 16px;">Nivel Azul</h1>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row style="margin-bottom: 5px; height: 30px;">
        <ion-col size="1"></ion-col>
        <ion-col size="4" style="background-color: #222428; border-top-left-radius: 10px; border-bottom-left-radius: 10px">
          <ion-fab style="height: 20px; width: 20px; border: 1px solid orange; border-radius: 50%; text-align: center">
            <ion-icon name="body" class="icon-button inner-center-btn" style="color: orange; height: 20px"></ion-icon>
          </ion-fab>
          <label style="margin-top: 0px; font-size: 10px; margin-left: 30px;">MEU CORPO</label>
        </ion-col>
        <ion-col size="6" style="background-color: #222428; border-top-right-radius: 10px; border-bottom-right-radius: 10px">
          <ion-fab style="height: 20px; width: 20px; border: 1px solid orange; border-radius: 50%; text-align: center">
            <ion-icon name="trophy" class="icon-button inner-center-btn" style="color: orange; height: 20px"></ion-icon>
          </ion-fab>
          <label style="margin-top: 0px; font-size: 10px; margin-left: 30px;">OBJETIVOS E CONQUISTAS</label>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid style="margin-left: 5px;">
    <ion-row *ngFor="let slide of getSlides()">
      <ion-col>
        <h1>{{ slide.name }} <button class="h1Button" *ngIf="slide.create === true && slide.new === false">+</button><ion-badge *ngIf="slide.create === false && slide.new === true">NOVO</ion-badge></h1>
        <ion-slides [options]="slideOpts">
          <ion-slide *ngIf="slide.create === true">
            <h1 style="margin-top: 0px;">NOVO TREINO</h1><button class="h1Button">+</button>
          </ion-slide>
          <ion-slide *ngFor="let content of slide.slides">
            <ion-row style="margin-top: 50px;">
              <ion-col size="12">
                <p *ngIf="content.training === true" style="color: orange; font-size: 12px; margin-top: 0px; margin-bottom: 0px; text-align: left">Continuar treinando</p>
                <p style="font-size: 12px; margin-top: 0px; margin-bottom: 0px; text-align: left">{{ content.title }}</p>
              </ion-col>
            </ion-row>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
